* {
	box-sizing: border-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #24292e;
	line-height: 1.5;
	word-wrap: break-word;
	max-width: 1012px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 16px;
	padding-right: 16px;
}
h1 {
	padding-bottom: .3em;
	font-size: 2em;
	border-bottom: 1px solid #eaecef;
}
h2 {
	padding-bottom: .3em;
	font-size: 1.5em;
	border-bottom: 1px solid #eaecef;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: .875em;
}
h6 {
	font-size: .85em;
	color: #656d76;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 24px;
	margin-bottom: 8px;
	font-weight: 600;
	line-height: 1.25;
}
p, ul, ol {
	margin: 0 0 16px 0;
}
ul, ol {
	padding-left: 2em;
}
li + li {
	margin-top: 0.25em;
}
a {
	color: #0366d6;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#scale {
	width: 4em;
	height: 2em;
	vertical-align: middle;
}
body.presentation [data-slide-id] {
	opacity: 0.16666666666666;
	pointer-events: none;
}
body.presentation [data-slide-id].active {
	opacity: 1;
	pointer-events: auto;
	font-size: 1em;
	background: #f8f4ea;
	border-radius: 0.2em;
	padding: 0 2rem;
}
body.presentation [data-slide-id].active > :first-child {
	padding-top: 0.3rem;
}
body.presentation [data-slide-id].active > :last-child {
	padding-bottom: 0.3rem;
}
/* Disable Pull-to-refresh  */
html, body {
	overscroll-behavior-y: contain;
}
body.presentation {
	overflow: hidden;
}
a.present {
	vertical-align: middle;
}
a.anchorjs-link {
	font: 1em / 1 anchorjs-icons;
	padding-left: 0.375em;"
}
